<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Listado de Sucursales</title>
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<a class="navbar-brand" href="#">Control de Sucursales</a>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link"
					th:href="@{/sucursal/getAll}">Lista de Sucursales</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<h1>Lista de sucursales</h1>
		</div>
		<div class="row">
			<div class="col-log-3">
				<a th:href="@{/sucursal/add}" class="btn btn-primary btn-sm mb3">Agregar Sucursal</a>
			</div>
		</div>
		<br>
		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th>ID</th>
					<th>Nombre Sucursal</th>
					<th>Pais</th>
					<th>Tipo</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="sucursalDTO : ${getAll}">
					<td th:text="${sucursalDTO.pk_SucursalID}"></td>
					<td th:text="${sucursalDTO.nomSucursal}"></td>
					<td th:text="${sucursalDTO.paisSucursal}"></td>
					<td th:text="${sucursalDTO.tipusSucursal}"></td>
					
				
					<td>
					<a
						th:href="@{/sucursal/update/{id}(id=${sucursalDTO.pk_SucursalID})}"
						class="btn btn-info">Editar</a> 
						<a
						th:href="@{/sucursal/delete/{id}(id=${sucursalDTO.pk_SucursalID})}"
						class="btn btn-danger">Eliminar</a>
					</td>
							
				</tr>
			
			</tbody>
		</table>
	</div>

</body>
</html>